<div class="editing-title container-fluid">
	<h3><i class="material-icons xlarge">dashboard</i>&nbsp;&nbsp;Dashboard</h3>
</div>

<div class="container-fluid" id="home-tiles">

	<!-- bandwidth tile -->
	<div class="col-xs-12 col-md-4 tiles">
	   	<div class="home-tile markets">
	   		<div class="dimmer">
	   			<div class="inner-tile">
	   				<h2>BANDWIDTH<br/>
	   					<small>Month To Date</small>
	   				</h2>
	   				<div class="number-box bottom">
	   					<p class="hlabel">UPLOAD</p>
						<p class="hnumbers">{{ tileinfo.free }} GB</p>
						<p class="hlabel">DOWNLOAD</p>
						<p class="hnumbers">{{ tileinfo.download }} GB</p>
	   				</div> 
	   			</div>
	   		</div>
		</div>
	</div>

	<!-- memory tile -->
	<div class="col-xs-12 col-md-4 tiles">
	   	<div class="home-tile news">
	   		<div class="dimmer">
	   			<div class="inner-tile">
	   				<h2>MEMORY</h2>
	   				<div class="number-box bottom">
		   				<p class="hlabel">TOTAL</p>
						<p class="hnumbers">{{ tileinfo.ramtotal }} MB</p>
						<p class="hlabel">FREE</p>
						<p class="hnumbers">{{ tileinfo.ramfree }} MB</p>
					</div>
	   			</div>
	   		</div>
		</div>
	</div>

	<!-- info tile -->
	<div class="col-xs-12 col-md-4 tiles">
	   	<div class="home-tile bitcoin-tile">
	   		<div class="dimmer">
	   			<div class="inner-tile">
	   				<h2>INFO</h2>
	   				<div class="number-box bottom">
		   				<p class="hlabel">MINI USERNAME</p>
						<p class="hnumbers">{{ tileinfo.username }}</p>
						<p class="hlabel">GORILLA VERSION</p>
						<p class="hnumbers">{{ tileinfo.gorillaver }}</p>
					</div>
	   			</div>
	   		</div>
		</div>
	</div>

	<!-- ADDRESS tile -->
	<div class="col-xs-12 col-md-4 tiles">
	   	<div class="home-tile faddress-tile btc-tile">
	   		<div class="dimmer">
	   			<div class="inner-tile">
	   				<h2>BITCOIN ADDRESSES</h2>
	   				<div class="number-box">
						<a class="btn ghost-btn left-btn" data-toggle="modal" data-target="#ListModal" ng-click="listadd()">LIST ADDRESSES</a>
						<a class="btn ghost-btn right-btn" data-toggle="modal" data-target="#AddNewModal">NEW ADDRESS</a>
					</div>
	   			</div>
	   		</div>
		</div>
	</div>

	<!-- import/export tile -->
	<div class="col-xs-12 col-md-4 tiles">
	   	<div class="home-tile functions-tile btc-tile">
	   		<div class="dimmer">
	   			<div class="inner-tile">
	   				<h2>IMPORT/EXPORT</h2>
	   				<div class="number-box">
		   				<a class="btn ghost-btn left-btn" id="impa" disabled>IMPORT PRIV KEY</a>
						<a class="btn ghost-btn right-btn" data-toggle="modal" data-target="#DumpKeyModal" ng-click="listAll()">DUMP PRIV KEY</a>
					</div>
	   			</div>
	   		</div>
		</div>
	</div>

	<!-- message tile -->
	<div class="col-xs-12 col-md-4 tiles">
	   	<div class="home-tile messages-tile btc-tile">
	   		<div class="dimmer">
	   			<div class="inner-tile">
	   				<h2>MESSAGE SIGNING</h2>
	   				<div class="number-box">
		   				<a class="btn ghost-btn left-btn" data-toggle="modal" data-target="#SignModal" ng-click="listAll()">SIGN</a>
						<a class="btn ghost-btn right-btn" data-toggle="modal" data-target="#VerifyModal">VERIFY</a>						
					</div>
	   			</div>
	   		</div>
		</div>
	</div>
</div>

<!-- MODALS -->
<!-- List Addresses -->
<section ng-include="'partials/modals/addressList.html'"></section>
<!-- New Address -->
<section ng-include="'partials/modals/addressNew.html'"></section>
<!-- Dump PrivKey -->
<section ng-include="'partials/modals/keyDump.html'"></section>
<!-- Sign Message -->
<section ng-include="'partials/modals/messageSign.html'"></section>
<!-- Verify Message -->
<section ng-include="'partials/modals/messageVerify.html'"></section>